#mapid {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}
.alert-none {
  display: none;
}
.z-index {
  z-index: 1000;
}
.search {
  min-width: 160px;
  width: 200px;
}

@media (max-width: 600px) {
  .search {
    width: 160px;
    margin-left: 22px;
  }
}
